@model DonationPortal.Web.ViewModels.Home.HomeViewModel

<div class="home-container" id="main" role="main">
    <!-- home-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <section class="stacked-container hero" id="skipToContent" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <figure class="hero-image"><img class="img-responsive" src="/ui/images/Hero-Rob-01.jpg" alt="Hope Loves Action."></figure>
        <div class="container">
            <div class="hero-content">
                <h1 role="heading">HOPE LOVES ACTION.</h1>
                <p class="lead">
                    Especially on Valentine’s day. Take action with Maria and Rob as they pedal
                    through grueling 12 and 24 hour races in Sebring, Florida to raise money to end brain cancer. Share
                    encouragement and donate in real time along each route.
                </p>
            </div>
        </div>
        <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    </section>

    <section class="stacked-container carousel-container" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div class="container">
            <div class="carousel responsive no-js">
                @foreach (var rider in Model.Riders)
                {
                    <div class="slide">
                        <div class="row">
                            <div class="col-sm-8 col-md-7">
                                <h2>@rider.EventName <span class="participant">// @rider.RiderName</span></h2>
                                @rider.RiderDescription
                                <br>
                                <p><a href="@rider.DetailUrl" class="btn btn-lg btn-primary">Learn More</a></p>
                            </div>
                            <div class="col-sm-offset-0 col-md-offset-1 col-sm-4">
                                <div class="module donation-block">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="heading">Total Raised</div>
                                            <div class="amount">@rider.TotalRaised.ToString("C0")</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="heading">Our Goal</div>
                                            <div class="amount">@rider.DonationGoal.ToString("C0")</div>
                                        </div>
                                    </div>
                                    <div class="donate-callout"><a href="@rider.DetailUrl" class="btn btn-lg btn-primary btn-block">Make a Donation</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="carousel-nav"></div>
            <a href="#" class="prev"><i class="fa fa-angle-left"></i><span class="sr-only">prev</span></a>
            <a href="#" class="next"><i class="fa fa-angle-right"></i><span class="sr-only">next</span></a>
        </div>
        <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    </section>

    <section class="stacked-container map-container" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div class="map" id="map-canvas" style="height:500px;"></div>
        <div class="route-details">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="map-heading">@Model.FeaturedRider.PossessiveRiderName Route</div>
                        <div class="event-specs">Event Begins - @Model.FeaturedRider.RiderStart.ToString("h:mmtt M/d/yyyy")</div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <ul class="elapsed">
                            <li class="title">Time Elapsed</li>
                            <li class="hours">
                                <div class="counter-label">Hours</div>
                                <div class="counter">@String.Format("{0:00}", Model.FeaturedRider.ElapsedTime.Hours)</div>
                            </li>
                            <li class="divider">:</li>
                            <li class="minutes">
                                <div class="counter-label">Min</div>
                                <div class="counter">@String.Format("{0:00}", Model.FeaturedRider.ElapsedTime.Minutes)</div>
                            </li>
                            <li class="total">@(Model.FeaturedRider.HasDurationGoal ? "/ " + Model.FeaturedRider.DurationGoal : null)</li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <ul class="travelled">
                            <li class="title">Miles Travelled:</li>
                            <li class="miles">
                                <div class="counter-label">Miles</div>
                                <div class="counter">@Model.FeaturedRider.TotalMiles.ToString("N")</div>
                            </li>
                            <li class="total">@(Model.FeaturedRider.HasDistanceGoal ? "/ " + Model.FeaturedRider.DistanceGoal : null)</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    </section>

    <section class="stacked-container content-container" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Race With @Model.FeaturedRider.RiderName</h2>
                    @Model.FeaturedRider.RiderStory
                    <br>
                    <p><a href="@Model.FeaturedRider.DetailUrl" class="btn btn-secondary btn-lg"><i class="fa fa-camera"></i> Experience @Model.FeaturedRider.PossessiveRiderName Race</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="module recent-messages">
                        <h2>Recent Messages</h2>
                        @foreach (var message in Model.FeaturedRider.RecentMessages)
                        {
                            <div class="message">
                                <div class="post">@message.RiderMessageDonation.Message</div>
                                <div class="author">@(message.RiderMessageDonation.FirstName + " " + message.RiderMessageDonation.LastName)</div>
                            </div>
                        }
                        <br>
                        <p><a href="@Model.FeaturedRider.DetailUrl" class="btn btn-tertiary btn-lg"><i class="fa fa-comment"></i> Send @Model.FeaturedRider.RiderName a Message</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    </section>

    <!-- home-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</div>
@section Scripts
{
    <script type="text/javascript">

        require(['riderLocation'], function(riderLocation) {

            riderLocation.setup('@Model.FeaturedRider.EventUrlSlug', '@Model.FeaturedRider.RiderUrlSlug');

        });

    </script>
}