@using DonationPortal.Engine.Helpers
@model DonationPortal.Engine.Social.SocialFeedItem
<div class="social-block social-facebook">
    <div class="inner">
        <div class="social-thumb">
            @if (!string.IsNullOrEmpty(Model.ImageIcon))
            {
                <a target="_blank" href="@Model.ImageURL" class="thumb"><img src="@Model.ImageIcon" alt=""></a>
                <div class="social-user">
                    <a target="_blank" href="@Model.ImageURL"><strong>@Model.Name</strong><br>@Model.UserName</a>
                </div>
            }
            else
            {
                <div class="social-user">
                    <a target="_blank" href="https://www.facebook.com/3ktoacure"><strong>@Model.Name</strong><br>@Model.UserName</a>
                </div>
            }
        </div>
        <div class="social-text">@MvcHtmlString.Create(HttpUtility.HtmlDecode(Model.Text))</div>
        <div class="social-details">
            <a href="@Model.ImageURL">Posted</a> <span>@Model.Posted.ToAgo() ago</span>
        </div>
        <a href="https://facebook.com" class="social-icon" title="facebook"><span class="icon-font"></span></a>
    </div>
</div>