@model DonationPortal.Web.ViewModels.RiderDetail.RiderDetailViewModel

@{
}
<div id="main" role="main">
    <!-- main starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <section class="stacked-container hero event-detail" id="skipToContent" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <figure class="hero-image"><img class="img-responsive" src="/ui/images/@Model.HeroImageUri" alt="placeholder"></figure>
        <div class="container">
            <div class="hero-content">
                <h1>@Model.ShortEventName</h1>
                <p class="lead">@Model.HeroImageText</p>
                
                
                <div class="module stat-content">
                    <div class="row">
                        <div class="hidden-xs col-sm-3">
                            <div class="circle-chart total-raised" data-dimension="200" data-text="$" data-width="30" data-fontsize="60" data-percent="100" data-fgcolor="#f93550" data-bgcolor="#ffffff" data-fill="#ff8b00" data-total="@Model.DonationGoal" data-part="@Model.DonationTotal"></div>
                            <div class="chart-text">@Model.DonationTotal.ToString("C0")<br> Total Raised</div>
                        </div>
                        <div class="hidden-xs col-sm-3">
                            <div class="circle-chart days-left" data-dimension="200" data-text="@Model.DonationDaysPast" data-width="30" data-fontsize="60" data-percent="100" data-fgcolor="#285d7c" data-bgcolor="#ffffff" data-fill="#ff8b00" data-total="@Model.TotalDonationDays" data-part="@Model.DonationDaysPast"></div>
                            <div class="chart-text">@Model.DonationDaysPast<br> Days Left</div>
                        </div>
                        <div class="hidden-xs col-sm-3">
                            <div class="circle-chart percent-goal" data-dimension="200" data-text="%" data-width="30" data-fontsize="60" data-percent="100" data-fgcolor="#285d7c" data-bgcolor="#ffffff" data-fill="#ff8b00" data-total="100" data-part="@Model.DonationGoalPercentage"></div>
                            <div class="chart-text">@Model.DonationGoalPercentage%<br> Of Goal</div>
                        </div>
                        <div class="hidden-xs col-sm-3">
                            <div class="circle-chart total" data-dimension="200" data-text="$" data-width="30" data-fontsize="60" data-percent="100" data-fgcolor="#285d7c" data-bgcolor="#ffffff" data-fill="#ff8b00" data-total="@Model.DonationGoal" data-part="@Model.DonationGoal" data-animationstep="0"></div>
                            <div class="chart-text">Help Us Raise<br> @Model.DonationGoal.ToString("C0")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    </section>

    <section class="stacked-container" role="region">
        <!-- stacked-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="module ride-details">
                        <h2>@Model.EventName <span class="participant">// @Model.RiderName</span></h2>
                        <h3>@Model.DateRange</h3>
                        @Model.Teaser
                        <br>
                        <p>
                            <a href="#" class="btn btn-tertiary btn-lg"> Send Maria a Message</a> &nbsp;
                            <a href="#" class="btn btn-lg btn-tertiary"> Donate to help @Model.Pronoun reach @Model.Pronoun goal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- stacked-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    </section>

    @Html.Partial("Social")

    @Html.Partial("Route")

    @Html.Partial("Statistics")

    @Html.Partial("Donate")

    <!-- main ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
</div>

@section Scripts
{
    <script type="text/javascript">

        require(['riderDonate'], function(riderDonate) {

            riderDonate.setup();

        });

    </script>
}